
.center-canvas {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 600px; /* 100% de la hauteur de la fenêtre visible */
    margin-top: 100px;
}
.marge-top{
    position: relative;
    top: 50px;
}