.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Cela assure que le conteneur occupe au moins toute la hauteur de la fenêtre */
  }
  
  .center-container img {
    max-width: 100%;
    height: auto;
  }
  