<div *ngIf="isLoaded">
    <div class="form-group">
        <label for="departementSelect">Sélectionnez un département :</label>
        <select id="departementSelect" class="form-control" >
          <option *ngFor="let departement of message" [value]="departement.num_departement">{{ departement.nom_departement }}</option>
        </select>
      </div>
    <div class="form-group">
        <label for="datePicker">Sélectionnez une date :</label>
        <input
          id="datePicker"
          type="date"
          class="form-control"
          placeholder="Sélectionnez une date"
          
        />
    </div>
    <button type="button" (click)="onClick()"></button>
    <img src="..\assets\Carte_vierge_départements_français.svg" alt="carte de france">
</div> 
